<!-- left side header-->
<div class="p-10 bg-white b-r">

  <button class="btn btn-sm btn-default pull-rightvisible-xs" style="border: none" ng-click="hideLeftBar()"><i class="fa fa-chevron-left"></i></button>
  <h4 style="margin-left: 5px; display: inline" class="custom-font text-default m-0">Home</strong></h4>

</div>
<!-- /left side header -->
<!-- left side body -->
<div class="p-15">

  <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step1:true}" >

    <tab active="steps.step1">

      <form name="step1" role="form" novalidate class="form-validation" style="background-color: #eeeeee;">
        <h4 class="custom-font"><strong>STYLE</strong></h4><br>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="username">SITE HEADER </label>
          </div>
          <div class="form-group col-md-12">
            <label for="background" class="col-sm-10 control-label">Background Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.header_background_color}}" name="circle pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu pull-right with-arrow animated littleFadeInUp ">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Background Color</li>
                    <li><a href="javascript:;" style="background-color: #4d4d4d" ng-click="setHeaderColor('#4d4d4d')"></a></li>
                    <li><a href="javascript:;" style="background-color: #5697d0" ng-click="setHeaderColor('#5697d0')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9bd8eb" ng-click="setHeaderColor('#9bd8eb')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setHeaderColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" style="background-color: #f6ce95" ng-click="setHeaderColor('#f6ce95')"></a></li>
                    <li><a href="javascript:;" style="background-color: #e47282" ng-click="setHeaderColor('#e47282')"></a></li>
                    <li><a href="javascript:;" style="background-color: #ffffff" ng-click="setHeaderColor('#ffffff')"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
          <div class="form-group col-md-12">
            <label for="title" class="col-sm-10 control-label">Site Title Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.header_title_color}}" name="circle pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Title Color</li>
                    <li><a href="javascript:;" style="background-color: #4d4d4d" ng-click="setHeaderTitleColor('#4d4d4d')"></a></li>
                    <li><a href="javascript:;" style="background-color: #5697d0" ng-click="setHeaderTitleColor('#5697d0')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9bd8eb" ng-click="setHeaderTitleColor('#9bd8eb')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setHeaderTitleColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" style="background-color: #f6ce95" ng-click="setHeaderTitleColor('#f6ce95')"></a></li>
                    <li><a href="javascript:;" style="background-color: #e47282" ng-click="setHeaderTitleColor('#e47282')"></a></li>
                    <li><a href="javascript:;" style="background-color: #ffffff" ng-click="setHeaderTitleColor('#ffffff')"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
        </div>
        <hr class="b-0 b-b"/>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="username">FOOTER </label>
          </div>
          <div class="form-group col-md-12">
            <label for="background" class="col-sm-10 control-label">Background Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.footer_background_color}}" name="circle pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Background Color</li>
                    <li><a href="javascript:;" style="background-color: #4d4d4d" ng-click="setFooterColor('#4d4d4d')"></a></li>
                    <li><a href="javascript:;" style="background-color: #5697d0" ng-click="setFooterColor('#5697d0')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9bd8eb" ng-click="setFooterColor('#9bd8eb')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setFooterColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" style="background-color: #f6ce95" ng-click="setFooterColor('#f6ce95')"></a></li>
                    <li><a href="javascript:;" style="background-color: #e47282" ng-click="setFooterColor('#e47282')"></a></li>
                    <li><a href="javascript:;" style="background-color: #ffffff" ng-click="setFooterColor('#ffffff')"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
          <div class="form-group col-md-12">
            <label for="title" class="col-sm-10 control-label">Site Title Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.footer_title_color}}" name="circle pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Title Color</li>
                    <li><a href="javascript:;" style="background-color: #4d4d4d" ng-click="setFooterTitleColor('#4d4d4d')"></a></li>
                    <li><a href="javascript:;" style="background-color: #5697d0" ng-click="setFooterTitleColor('#5697d0')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9bd8eb" ng-click="setFooterTitleColor('#9bd8eb')"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setFooterTitleColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" style="background-color: #f6ce95" ng-click="setFooterTitleColor('#f6ce95')"></a></li>
                    <li><a href="javascript:;" style="background-color: #e47282" ng-click="setFooterTitleColor('#e47282')"></a></li>
                    <li><a href="javascript:;" style="background-color: #ffffff" ng-click="setFooterTitleColor('#ffffff')"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
        </div>

        <hr class="b-0 b-b"/>
        <button type="submit" ng-disabled="step1.$invalid" class="btn btn-success" ng-click="saveStyle(style)">Save</button>
      </form>

    </tab>

  </tabset>


</div>
<!-- /left side body -->










