<!-- left side header-->
<div class="p-10 bg-white b-r">

  <button class="btn btn-sm btn-default pull-rightvisible-xs" style="border: none" ng-click="hideLeftBar()"><i class="fa fa-chevron-left"></i></button>
  <h4 style="margin-left: 5px; display: inline" class="custom-font text-default m-0">Home</strong></h4>

</div>
<!-- /left side header -->
<!-- left side body -->
<div class="p-15">

  <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step1:true}">

    <tab active="steps.step1">

      <form name="step1" role="form" novalidate class="form-validation">
        <h4 class="custom-font"><strong>STYLE</strong></h4><br>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="username">SITE HEADER </label>
          </div>
          <div class="form-group col-md-12">
            <label for="background" class="col-sm-10 control-label">Background Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.header_background_color}}" name="circle text-success pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Background Color:</li>
                    <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'"></a></li>
                    <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setHeaderColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'"></a></li>
                    <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'"></a></li>
                    <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
          <div class="form-group col-md-12">
            <label for="title" class="col-sm-10 control-label">Site Title Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.header_title_color}}" name="circle text-success pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Title Color:</li>
                    <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'"></a></li>
                    <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setHeaderTitleColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'"></a></li>
                    <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'"></a></li>
                    <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
        </div>
        <hr class="b-0 b-b"/>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="username">FOOTER </label>
          </div>
          <div class="form-group col-md-12">
            <label for="background" class="col-sm-10 control-label">Background Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.footer_background_color}}" name="circle text-success pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Background Color:</li>
                    <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'"></a></li>
                    <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setFooterColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'"></a></li>
                    <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'"></a></li>
                    <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
          <div class="form-group col-md-12">
            <label for="title" class="col-sm-10 control-label">Site Title Color </label>
            <i class="pull-right" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <fa style="color: {{style.footer_title_color}}" name="circle text-success pull-right"></fa>
              </a>
              <ul class="dropdown settings dropdown-menu with-arrow animated littleFadeInUp">
                <li>
                  <ul class="color-schemes list-inline">
                    <li class="title">Title Color:</li>
                    <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'"></a></li>
                    <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'"></a></li>
                    <li><a href="javascript:;" style="background-color: #9edccd" ng-click="setFooterTitleColor('#9edccd')"></a></li>
                    <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'"></a></li>
                    <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'"></a></li>
                    <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'"></a></li>
                  </ul>
                </li>
              </ul>
            </i>
          </div>
        </div>

        <hr class="b-0 b-b"/>
        <button type="submit" ng-disabled="step1.$invalid" class="btn btn-success" ng-click="">Save</button>
      </form>

    </tab>

  </tabset>


</div>
<!-- /left side body -->










