<div class="page page-single-product">




  <!-- page header -->
  <div class="pageheader">


  </div>
  <!-- /page header -->


  <!-- page content -->
  <div class="pagecontent">



    <div class="add-nav">
      <div class="nav-heading">
        <h3>Booking Details : <strong class="text-greensea">{{booking.id}}</strong></h3>
        <span class="controls pull-right">
          <a href="javascript:;" ng-click="cancel()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" tooltip="Back"><i class="fa fa-times"></i></a>
          <a href="javascript:;" ng-click="confirmBooking(booking)" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5" tooltip="Accept"><i class="fa fa-check"></i></a>
          <a href="javascript:;" ng-click="rejectBooking(booking)" class="btn btn-ef btn-ef-1 btn-ef-1-warning btn-ef-1a btn-rounded-20 mr-5" tooltip="Reject"><i class="fa fa-ban"></i></a>
          <a href="javascript:;" ng-click="deleteBooking(booking)" class="btn btn-ef btn-ef-1 btn-ef-1-danger btn-ef-1a btn-rounded-20 mr-5" tooltip="Delete"><i class="fa fa-trash"></i></a>
        </span>
      </div>
      <tabset ng-init="tabs={tab1:true}">

        <tab heading="Details" active="tabs.tab1">


          <!-- row -->
          <div class="row" >
            <!-- col -->
            <div class="col-md-12">

              <!-- tile -->
              <section class="tile time-simple">

                <!-- tile body -->
                <div class="tile-body">


                  <!-- row -->
                  <div class="row">

                    <!-- col -->
                    <div class="col-md-4" >

                      <!-- row thumbnails -->
                      <div class="row">
                      </div>
                      <!-- /row -->



                    </div>
                    <!-- /col -->

                    <!-- col -->
                    <div class="col-md-8">

                      <h2 class="custom-font mb-5">{{ booking.first_name }} {{ booking.last_name }} <span class="label" ng-class="{'label-success' : booking.status == 'confirmed','label-warning' : booking.status == 'requested','label-lightred' : booking.status == 'rejected'}">{{ booking.status }}</span></h2>
                      <p class="desc text-info lt mt-40 mb-0">{{ booking.email }}</p>
                      <p class="desc text-primary lt mt-20 mb-0">{{ booking.phone_number }}</p>
                      <p class="desc text-default lt mt-20 mb-20">{{ booking.note }}</p>

                      <h3 class="desc mt-20 mb-0 text-success">{{ toLocalTime(booking.datetime) }} </h3>
                      <p class="desc mt-20 text-default lt">{{ booking.number_of_person }}<small ng-show="booking.number_of_person > 2"> People </small><small ng-show="booking.number_of_person < 2"> Person </small></p>
                    </div>
                    <!-- /col -->

                  </div>
                  <!-- /row -->


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->

            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


        </tab>


      </tabset>
    </div>



  </div>
  <!-- /page content -->




</div>
