<div class="page page-single-product">




  <!-- page header -->
  <div class="pageheader">


  </div>
  <!-- /page header -->


  <!-- page content -->
  <div class="pagecontent">



    <div class="add-nav">
      <div class="nav-heading">
        <h3 ng-show="product">Product Details : <strong class="text-greensea">{{product.id}}</strong></h3>
        <span class="controls pull-right">
          <a href="javascript:;" ng-click="cancel()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" tooltip="Back"><i class="fa fa-times"></i></a>
          <a href="javascript:;" ng-click="updateProduct(product)" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5" tooltip="Save"><i class="fa fa-check"></i></a>
          <a href="javascript:;" ng-click="deleteProduct(product)" class="btn btn-ef btn-ef-1 btn-ef-1-danger btn-ef-1a btn-rounded-20 mr-5" tooltip="Delete"><i class="fa fa-trash"></i></a>
        </span>
      </div>
      <tabset ng-init="tabs={tab1:true, tab2:false}">

        <tab heading="Details" active="tabs.tab1">


          <!-- row -->
          <div class="row" >
            <!-- col -->
            <div class="col-md-12">

              <!-- tile -->
              <section class="tile time-simple">

                <!-- tile body -->
                <div class="tile-body">


                  <!-- row -->
                  <div class="row">

                    <!-- col -->
                    <div class="col-md-4" ui-jq="magnificPopup"
                           ui-options="{
                        delegate: 'a.img-link',
                        type: 'image',
                        tLoading: 'Loading image #%curr%...',
                        mainClass: 'mfp-img-mobile',
                        gallery: {
                          enabled: true,
                          navigateByImgClick: true,
                          preload: [0,1]
                        }
                       }">

                      <a href="{{imageLarge}}" class="img-link">
                        <img ng-src="{{image}}" alt="" class="img-responsive mb-20">
                      </a>



                    </div>
                    <!-- /col -->

                    <!-- col -->
                    <div class="col-md-8">

                      <h2 class="custom-font mb-5">{{product.name}} <span class="label label-success">{{product.status}}</span></h2>

                      <p class="desc text-default lt mb-20">{{product.description}}</p>

                      <p class="tags"><span class="label label-default mr-5">{{product.category}}</span><!--span class="label label-default mr-5">vegetables</span><span class="label label-default mr-5">healthly</span><span class="label label-default mr-5">discount</span--></p>

                      <h3 class="price mt-40 mb-0 text-success">{{ product.price | currency}} / <small>{{product.unit}}</small></h3>
                      <p class="discount text-sm text-default lt">Discount: {{product.discount}}%</p>
                    </div>
                    <!-- /col -->

                  </div>
                  <!-- /row -->


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->

            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


        </tab>







        <tab heading="General" active="tabs.tab2">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                  <!--h1 ng-show="product" class="custom-font"><strong>Edit </strong> General Informations</h1-->
                  <h1 class="custom-font"><strong>Add </strong> General Informations</h1>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">


                  <form class="form-horizontal" role="form" nv-file-drop="" uploader="uploader">
                    <!-- col -->
                    <div class="col-md-5">
                      <div ng-show="image">
                        <div class="col-md-12" ui-jq="magnificPopup"
                                ui-options="{
                              delegate: 'a.img-link',
                              type: 'image',
                              tLoading: 'Loading image #%curr%...',
                              mainClass: 'mfp-img-mobile',
                              gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [0,1]
                              }
                            }">
                          <div ng-show="image">
                            <a href="{{imageLarge}}" class="img-link">
                              <img ng-src="{{image}}" alt="" class="img-responsive mb-20">
                            </a>
                            <button class="btn btn-danger btn-ef btn-ef-5 btn-ef-5a" ng-click="removePreviewImage()" ng-disabled="!image">
                              <i class="fa fa-trash"></i> <span>Remove</span>
                            </button>
                            <hr class="b-0 b-b"/>
                          </div>
                        </div>
                      </div>

                      <div ng-hide="image">
                        <div ng-show="uploader.isHTML5">
                          <div style="min-height: 300px;" class="well text-center p-30 b-dashed b-2x bg-white" nv-file-over="" uploader="uploader">
                            <div ng-hide="uploader.isUploading" style="margin-top: 40%;">
                              <i style="display: block" class="icon-cloud-upload"></i><span>Add Image</span>
                            </div>
                            <div ng-show="uploader.isUploading" style="margin-top: 40%;">
                              <p>Upload progress:</p>
                              <div class="progress progress-xs not-rounded" style="margin-top: 7px;margin-bottom: 0">
                                <div class="progress-bar bg-cyan" role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group" ng-hide="uploader.isHTML5">
                          <label class="control-label">Add Image</label>
                          <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                            buttonText: 'Select file',
                            iconName: 'fa fa-inbox'
                          }" nv-file-select="" uploader="uploader">
                        </div>
                      </div>
                    </div>

                    <!-- col -->
                    <div class="col-md-7">
                      <div class="row">
                        <div class="form-group col-md-12" style="margin: 0px;">
                          <label for="name" class="control-label">Name <span class="text-lightred text-md">*</span></label>
                          <input type="text" class="form-control" id="name" placeholder="Item Name" value="Onions" ng-model="product.name">
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-12" style="margin: 0px;">
                          <label for="description" class="control-label">Description <span class="text-lightred text-md">*</span></label>
                          <textarea class="form-control" id="description" placeholder="Item Description" rows="5" ng-model="product.description">
                          </textarea>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-12" style="margin: 0px;">
                          <label for="category" class="control-label">Category <span class="text-lightred text-md">*</span></label>

                          <div class="form-group col-md-16" style="margin: 0px;">
                          <ui-select ng-model="product.category"  ng-disabled="disabled" class="w-md" style="width: 91%;display: inline-block">
                            <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                              <span ng-bind-html="category.name | highlight: $select.search"></span>
                            </ui-select-choices>
                          </ui-select>
                          <i dropdown style="width: 8%" on-toggle="toggled(open)">
                            <button type="button" class="btn btn-default mt-10" style="width: 8%;display: inline-block" ng-click="" dropdown-toggle>
                              <i class="glyphicon glyphicon-plus"></i>
                            </button>

                            <ul class="dropdown settings dropdown-menu pull-right with-arrow animated littleFadeInUp mt-10">
                              <li>
                                <ul>
                                  <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                      <div class="col-sm-12">
                                        <input type="text" ng-click="stopPropagation($event)" class="form-control" ng-model="newCategory" id="category" placeholder="Category">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-sm-12">
                                        <button type="submit" ng-click="createCategory(newCategory);newCategory = null;" class="btn btn-rounded btn-primary btn-sm col-sm-12">Create Category</button>
                                      </div>
                                    </div>
                                  </form>
                                </ul>
                              </li>
                            </ul>
                          </i>
                          </div>
                        </div>
                      </div>

                      <div class="row" >
                        <div class="form-group col-md-6" style="margin: 0px;">
                          <label for="price" class="control-label">Price <span class="text-lightred text-md">*</span></label>
                          <input ui-jq="TouchSpin" type="text"  id="price" value="2.80" class="form-control" data-min='0' data-max="100000"   data-step="0.1" data-decimals="2" data-stepinterval="50" data-maxboostedstep="100000" data-prefix="$" ng-model="product.price">
                        </div>

                        <div class="form-group col-md-6" style="margin: 0px;">
                          <label for="discount" class="control-label">Discount <span class="text-lightred text-md">*</span></label>
                          <input ui-jq="TouchSpin" type="text"  id="discount" value="8" class="form-control" data-min='0' data-max="100" data -stepinterval="50" data-maxboostedstep="100000" data-postfix="%" ng-model="product.discount">

                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6" style="margin: 0px;">
                          <label for="unit" class="control-label">Unit <span class="text-lightred text-md">*</span></label>
                          <select id="unit" ui-jq="chosen" ui-options="{width: '100%'}" style="display: none;" class="form-control" ng-model="product.unit">
                            <option>Pc</option>
                            <option>Kg</option>
                            <option>g</option>
                            <option>m</option>
                            <option>l</option>
                          </select>

                        </div>

                        <div class="form-group col-md-6" style="margin: 0px;">
                          <label for="status" class="control-label">Status <span class="text-lightred text-md">*</span></label>
                          <select id="status" ui-jq="chosen" ui-options="{width: '100%'}" style="display: none;" class="form-control" ng-model="product.status">
                            <option>Available</option>
                            <option>Unavailable</option>
                          </select>

                        </div>
                      </div>
                    </div>

                  </form>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


        </tab>

      </tabset>
    </div>



  </div>
  <!-- /page content -->




</div>
